<app-navbar></app-navbar>
<div class="container">
    <div class="search-item">
        <input type="text" id="prompt" placeholder="">
        <div class="prompt-button">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <div><h1>Bezahlung</h1></div>
            <div><mat-icon aria-hidden="false" aria-label="payment" fontIcon="payment"></mat-icon></div>
        </div>
        <div class="item">
            <div><h1>Inhalte</h1></div>
            <div><mat-icon aria-hidden="false" aria-label="content_paste" fontIcon="content_paste"></mat-icon></div>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <div><h1>Profileinstellungen</h1></div>
            <div><mat-icon aria-hidden="false" aria-label="account_box" fontIcon="account_box"></mat-icon></div>
        </div>
        <div class="item">
            <div><h1>Aktualisierung</h1></div>
            <div><mat-icon aria-hidden="false" aria-label="update" fontIcon="update"></mat-icon></div>
        </div>
    </div>
</div>