<div class="container">
    <div class="item-container">
        <div class="item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></div>
        <div class="item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="people"></mat-icon></div>
    </div>
    <div class="item-container">
        <div class="item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="spa"></mat-icon></div>
        <div class="item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon></div>
        <div class="item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon></div>
    </div>
</div>